version: "3.9"
services:
  frontend-dev:
    build:
      context: .
      target: dev
    container_name: react_dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - CHOKIDAR_USEPOLLING=true

  frontend-prod:
    build: .
    container_name: react_prod
    ports:
      - "8080:80"
